html, body{
	margin: 0;
	padding: 0;
    font-family: "AlloyInk";
    height: 100%;
}

@font-face {
    font-family: "AlloyInk";
    src: url("./font/AlloyInk-nRLyO.ttf");
}

#mazeCanvas{
	border: solid; 
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.title{
    z-index: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-top: 50px;
    color: #66d323;
    font-size: 68px;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
}
  


  #start-button{
    font-size: 30px;
    background-color: #ED5049;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 320px;
    height: 80px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    border-style: none;
    font-family: "AlloyInk";
    z-index: 0;
  }

  #start-button > p{
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.7);
  }


  .notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    border: solid red;
    width: 300px;
    height: 400px;
    float: right;
    margin-right: 50px;
  }

  .notes img{
      width: 60px;
      border-style: none;
  }

  .img1 {
    margin-top: 10px;
  }

  
  #game-board {
      background-image: url("./img/background_image.png");
      background-size:contain;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
  }

  .game-intro {
   background-image: url("./img/flow.png");
   background-size:contain;
   height: 100%;
   width: 100%;
   background-repeat: no-repeat;
  }

  .title1{
    color: #66d323;
    font-size: 32px;
    padding: 0px;
    padding-top: 20px;
    margin: 0;
    margin-left: 20px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  }

  #scoreDiv{
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 195px;
    border: solid red;
  }

  .note{
    border: solid red;
  }